<% cart.each do |product| %>
    <%= product %><br>
<% end %>

<%= form_tag ({controller: 'products',
    action: 'add',
    method: 'POST'}) do %>

    <label>Product:</label>
    <input name=product>
    <input type=submit value='add to cart'>
<% end %>